<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="Alynt Certificate Generator">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
